<ion-view>
	<ion-nav-title>

     YORI
     
    </ion-nav-title>

<ion-content align="center" scroll="false" style="background-color: #ECE7E7">
    <ion-slides align='center' style="height: 32%;" options="options" slider="data.slider" does-continue="true">
    	<ion-slide-page ng-repeat="slides in slide">
        	<div class="box" style="background-image: url('{{slides.background}}'); background-size: 100%;">
            </div>
        </ion-slide-page>
    </ion-slides>

    <div style="width:100%;z-index: 9999" align="center">
      <div ng-click="yoRide()" style="padding:5% 0 5% 0;width:50%; float:left;border:1px solid #d0d0d0; border-left: none; border-top: none; background-color: #F0EFEF;">
        <img class="full-image" src="img/yoride.png" style="width: 35%;"><br>
        YO-RIDE
      </div>
      <div ng-click="yoGood()" style="padding:5% 0 5% 0;width:50%; float:left; border:1px solid #d0d0d0; border-right: none; border-top: none; border-left: none;background-color: #F0EFEF;">
        <img class="full-image" src="img/yogoods.png" style="width: 35%;"><br>
        YO-GOODS
      </div>
      <div style="clear: both;"></div>
    </div>
    <div style="width:100%;z-index: 9999" align="center">
      <div ng-click="yoFood()" style="padding:5% 0 5% 0;width:50%; float:left;border-right:1px solid #d0d0d0; background-color: #F0EFEF;">
        <img class="full-image" src="img/yofood.png" style="width: 35%;"><br>
        YO-FOOD
      </div>
      <div ng-click="yoMart()" style="padding:5% 0 5% 0;width:50%; float:left;background-color: #F0EFEF;">
        <img class="full-image" src="img/yomart.png" style="width: 35%;"><br>
        YO-MART
      </div>
      <div style="clear: both;"></div>
    </div>

    <div style="width:100%; bottom: 5px; z-index: -1; margin: 0;">
    	<!-- asdf -->
    	<img class="full-image" src="img/city.png" style="width: 90%">
    </div>
    <div style="width:100%; position: fixed; bottom: 5px; margin: 0;">
    	<span class="title" id="Fontfooter" style="background-color:#ECE7E7; ">Copyright © YORI 2018</span>
    </div>
    

</ion-content>
<!-- <div align="center" class="bar bar-footer bar-light" style="background-color: #ECE7E7">
	<span class="title" id="Fontfooter">Copyright © YORI 2018</span>
</div> -->
</ion-view>