<ion-view view-title="YO FOOD">
  <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-cart" >
        </button>
        <button class="button button-icon ion-bookmark" >
        </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-energized">
    <label class="item item-input" style="width: 100%">
      <i class="icon ion-android-search placeholder-icon"></i>
      <input ng-model="q" type="text" placeholder="Search food..." data-tap-disabled="true" />
      <button ng-click="closeq()" class="button button-small button-clear icon ion-android-close" ng-show="q.length" style="color: black; background-color: #fff; font-size: 11px;"></button>
    </label>
    <!-- <button ng-click="closeq()" class="button button-icon icon ion-android-funnel"></button> -->
  </div>
  <ion-content style="background-color: #F4F6F6">
    <div id="mapfood">
    </div>
      <div>
        <div style="margin-top: 50px;">
          <h4 style="margin-left: 5px">Trading</h4>
          <div class="slideContainerfood" >
            <div class="slidefood" ng-repeat="d in data" style="width: 40%;margin: 5px;">
              <div class="box" align="center">
                <img  ng-src="{{d.bg}}" class="imgBg" style="width: 100%; border-radius: 6px;">
              </div>
            <span>{{d.title}}</span>
            </div>
          </div>
          <h4 style="margin-left: 5px">Category</h4>
          <div class="slideContainerfood" >
            <div class="slidefood" ng-repeat="d in category" style="width: 25%; height:50px; margin: 5px;">
              <div class="box" align="middle" style="width:60%; border: 1px solid #FFC300; border-radius: 100%;">
                <i class="icon {{d.bg}}" style="font-size: 34px; color: #FFC300;"></i>
              </div>
                <span>{{d.title}}</span>
            </div>
          </div>
          <div class="row" align="center">
            <div class="col card" style="margin: 5px;">
              <div class="item item-body " >
                <i class="icon ion-ribbon-b" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span>Promotion</span>
            </div>
            <div class="col card" style="margin: 5px;">
              <div class="item item-body">
                <i class="icon ion-thumbsup" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span> Best Seller</span>
            </div>
            <div class="col card" style="margin: 5px;">
              <div class="item item-body">
                <i class="icon ion-heart" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span> Most Loved </span>
            </div>
          </div>
          <div class="row" align="center">
            <div class="col card" style="margin: 5px;" ng-click="linkfood('nearme')">
              <div class="item item-body " >
                <i class="icon ion-android-compass" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span>Near Me</span>
            </div>
            <div class="col card" style="margin: 5px;">
              <div class="item item-body">
                <i class="icon ion-fork" style="font-size: 34px; color: #FFC300;"></i> <i class="icon ion-spoon" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span>New on Yofood</span>
            </div>
            <div class="col card" style="margin: 5px;">
              <div class="item item-body">
                <i class="icon ion-clock" style="font-size: 34px; color: #FFC300;"></i>
              </div>
              <span>24 Hours</span>
            </div>
          </div>
              
      </div>

  </ion-content>
</ion-view>